<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    <FilesMatch "\.php$">
        Order allow,deny
        Deny from all
    </FilesMatch>

    <Files "index.php">
        Order allow,deny
        Allow from all
    </Files>

    <FilesMatch "\.(phar)$">
        Order Allow,Deny
        Deny from all
    </FilesMatch>

    <FilesMatch "^(\.env|composer\.(json|lock)|package\.json|yarn\.lock|artisan|server\.php|phpunit\.xml)$">
    	Order allow,deny
    	Deny from all
    </FilesMatch>

   
</IfModule>
